extends layout
block append body
  p Hi! Welcome to Metal Compass. Please enter a handle. Allowable
  | characters are uppercase letters, lowercase letters and numerals.
  
  form(action='/handle',method='post')
    input(type='text', name='handle')
    input(type='submit')
